<div id="book-page">
  <a href="/books">Voltar</a>
  <div class="container">
    <h1>{{selectedBook.title}}</h1>
    <p>Este livro possui {{selectedBook.pageqty}} páginas.</p>
    <div class="actions">
      <a href="/books/edit/{{selectedBook.id}}">Editar</a>
    </div>
  </div>
</div>